@import "tailwindcss";

:root{
    --gradient: linear-gradient(to right, #00AAFF, #8617CF, #FF00C8);
    --gradient-top: linear-gradient(to bottom, #00AAFF, #8617CF, #FF00C8);
    --gradient-azul: linear-gradient(to right, #00AAFF, #8617CF);
    --gradient-rosa: linear-gradient(to right, #8617CF, #FF00C8);
}

.retangulo1{
    clip-path: polygon(100% 0%, 0 100%, 100% 100%);
}
.retangulo2{
    clip-path: polygon(0% 0%, 0 100%, 100% 0);
}
.retangulo-fim{
    clip-path: polygon(50% 75%, 100% 0, 100% 100%, 0% 100%, 0 0);
}

#box-text-link{
    overflow: hidden;
}
#depois{
    bottom: 100%;
    transition: bottom 0.5s;
    position: absolute; 
}
#text-link, #text-link-fill{
    transition: 0.5s;
    z-index: 10;
}

#box-text-link:hover #depois{
    bottom: 5%;
}
#box-text-link:hover #text-link{
    color: white;
    stroke: white;
}
#box-text-link:hover #text-link-fill{
    fill: white;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 0 50% 50% 50%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
}
body:hover .circle{
    opacity: 1;
}
a{
    cursor: none;
}
a:hover .circle{
    opacity: 0.1;
}
