@import "tailwindcss";

:root{
    --gradient: linear-gradient(to right, #00AAFF, #8617CF, #FF00C8);
    --gradient-top: linear-gradient(to bottom, #00AAFF, #8617CF, #FF00C8);
    --gradient-azul: linear-gradient(to right, #00AAFF, #8617CF);
    --gradient-rosa: linear-gradient(to right, #8617CF, #FF00C8);
}

.retangulo1{
    clip-path: polygon(100% 0%, 0 100%, 100% 100%);
}
.retangulo2{
    clip-path: polygon(0% 0%, 0 100%, 100% 0);
}
.retangulo-fim{
    clip-path: polygon(50% 75%, 100% 0, 100% 100%, 0% 100%, 0 0);
}